<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Descubra os 100 Ancestrais da Sanzala em sua jornada de renascimento. Um tributo visual à cultura, resistência e memória ancestral.">
  <meta name="keywords" content="sanzala, ancestrais, renascimento, cultura africana, ctf, hacker, história africana, avatares, guardiões, missão, cyber resistência">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCAxNDAgMTQwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjcwIiBjeT0iNzAiIHI9IjY2IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMEZGRkEiIHN0cm9rZS13aWR0aD0iMy41Ii8+PHRleHQgeD0iNzAiIHk9IjkwIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIiBmb250LXNpemU9IjEyNSIgZm9udC1mYW1pbHk9IlNlZ29lIFVJIEJsYWNrLCBBcmlhbCBCbGFjaywgc2Fucy1zZXJpZiIgZmlsbD0iIzAwRkZBRSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGRsZSI+UzwvdGV4dD48ZGVmcz48cGF0aCBpZD0iY3VydmEtc3VwZXJpb3IiIGQ9Ik0gMzUsMzIgQSA0Nyw0NyAwIDAsMSAxMDUsMzIiLz48L2RlZnM+PHRleHQgZm9udC1zaXplPSIxMC41IiBmb250LWZhbWlseT0iQXJpYWwgQmxhY2ssIHNhbnMtc2VyaWYiIGZpbGw9IiMwMEZGRkEiIGxldHRlci1zcGFjaW5nPSIyIj48dGV4dFBhdGggaHJlZj0iI2N1cnZhLXN1cGVyaW9yIiBzdGFydE9mZnNldD0iNTAlIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIj5TQU5aQUxBPC90ZXh0UGF0aD48L3RleHQ+PC9zdmc+">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}"><link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css') }}">
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css') }}" rel="stylesheet">
  {% block css %}{% endblock %} 
  <title>Sanzala</title>
</head>
<body>
  {% block content %}
  ...
  {% endblock %}
  {% block js %}
  {% endblock %}
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
