{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login_fake.css') }}">
{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>🔓 Login - Colaboradores </h2> 
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
  {% if erro %}
    <div class="alert alert-danger mt-3">{{ erro }}</div>
{% endif %}
</div>
{% endblock %}